.vscode/

build/*

benchmarks/*
!benchmarks/.gitkeep

tests/*
!tests/.gitkeep

pyrbd++/build/*
!pyrbd++/build/.gitkeep

__pycache__/

# too large topologies
topologies/Germany_50/Pathset_Germany_50.csv

# Build so files
*.so
